#sharena {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#links ul{
  list-style-type: none;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 40px;
  text-shadow: rgb(0, 0, 0) 2px 2px 0px, 
  rgb(0, 0, 0) 2px -2px 0px, 
  rgb(0, 0, 0) -2px 2px 0px, 
  rgb(0, 0, 0) -2px -2px 0px, 
  rgb(0, 0, 0) 2px 0px 0px, 
  rgb(0, 0, 0) 0px 2px 0px, 
  rgb(0, 0, 0) -2px 0px 0px, 
  rgb(0, 0, 0) 0px -2px 0px;
}

#links li {
  background: url("images/add.png")no-repeat center center;
  background-size: contain;
  padding-top: 20px;
  height: 80px;
  margin-bottom: 25px;
}

#links a:hover {
  text-shadow: rgb(125, 125, 0) 2px 2px 0px, 
  rgb(0, 0, 0) 2px -2px 0px, 
  rgb(0, 0, 0) -2px 2px 0px, 
  rgb(125, 125, 0) -2px -2px 0px, 
  rgb(0, 0, 0) 2px 0px 0px, 
  rgb(0, 0, 0) 0px 2px 0px, 
  rgb(0, 0, 0) -2px 0px 0px, 
  rgb(0, 0, 0) 0px -2px 0px;
}